body{
    font-size: large;
}
.whats-app {
    display: block;
    float: left;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
    width: 90px;
    height: 90px;
}
.whats-app :hover{
    background-color: #0d4f83;
}
.header{
    background-color: #0d4f83;
}
.title-header{
 color: #FFF;
 margin: 7px auto;
}
.min-logo{
    float: left;
    margin: 7px auto;
}
.header-logo{
    margin: 1px;
    padding: 1px;
    width: 175px;
    height: 175px; 
}
.logo-view{
    background-color: #FFF;
    float: left;
    margin: -14px;
    padding: -10px;
}
.contato{
    margin: 50px auto;
    color: #bd8230;
    cursor: pointer;
}
.other{
    background-color: #fbaf41;
}
.courses-title{
    color: #0d4f83;
    cursor: pointer;
    font-size: xx-large;
    margin: 21px auto;
    text-align: center;
}
.courses-item {
    cursor: pointer;
    margin: 14px auto;
    padding: 21px;
    font-size: xx-large;
    background-color: #0d4f83;
    color: #fbaf41;
}
.requisitos{
    color: #0d4f83;
    font-weight: bold;
}

.no-style-link{
    text-decoration: none;
    color: inherit;
}
.no-style-link:hover{
    color: inherit;
}

.footer {
    background-color: #0d4f83;
    color: #FFF;
    padding: 14px;
    padding-left: 32px;
    text-align: center;
}
.whats-button {
    background-color: #fbaf41;
    color: #0d4f83;
    font-weight: bold;
    padding: 14px;
    margin: 7px;
    float: right;
}

.c-img {
    height: 200px;
    width: 400px;
}
.autorizado{
    width: 400px;
    height: 200px;
}
#carouselExampleSlidesOnly{
    width: 400px;
}